*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:auto;
}

header
{
    padding: 0;
    width: 100%;
    height: auto;
    margin:15px 0 80px 0;
}


header h2
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #f1aa00;
}

header .logout
{
    text-decoration: none;
    text-decoration-color: none;
    color: #ffaa00;
}

#logout_but .fa-sign-out-alt
{
    color: #ffaa00;
    font-size: 30px;
}

section
{
    margin: 0;
    padding: 0;

}


.base
{
    margin-bottom: 60px;
    height: auto;
}

.landlord_basic_info
{
    border: 1px solid gray;
    width: 60%;
    height: auto;
    padding: 10px 20px;
    margin: 0 auto;
}


.landlord_basic_info h3
{
    color: #ffaa00;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

.landlord_basic_info hr
{
    width: 40%;
    background-color: #ffaa00;
    height: 2px;
    margin: 0 0 -5px 0;
    line-height: 30%;
}

.landlord_basic_info .basic
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
    margin: 0 0 -20px 0;
    height: auto;
    line-height: 30%;
}

.landlord_basic_info .basic_info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 0;
    margin-top: -20px;
    height: 40px;
    line-height: 50%;
}

.landlord_basic_info .basic_desc
{
    line-height: 30%;
    color: #ffaa00;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}


.landlord_basic_info .basic_name
{
    color: #ffaa00;
    font-family: sans-serif;
    padding-left: 10px;
}

.landlord_basic_info .basic_button
{
    border: 2px solid #ffaa00;
    height: auto;
    width: 60px;
    border-radius: 10px 10px;
    color: #ffaa00;
    font-weight: 600;
    margin: 0 0 10px 0;
    padding: 5px 7px !important;
    overflow: hidden;
}


.landlord_basic_info .btn_label
{
    overflow:hidden;
}

.landlord_basic_info input[type="checkbox"]
{
     margin-right: 10px !important;
}

.landlord_basic_info input[type="submit"]
{
     padding: 5px 7px;
}

.landlord_basic_info .custom-control-label
{
    color: #ffaa00 !important;
    margin-left: 0 !important;
    font-weight: 600;
    font-size: 1.12em;
}




.landlord_basic_info .attr_butt
{
    width: 30%;
    padding: 10px 0;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    background: linear-gradient(to right,  #ffaa00, #ffae33);
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: .5s;
}

.landlord_basic_info .attr_butt:hover
{
    box-shadow: 2px 2px 20px 2px #111;
    transition: .5s;
}


.landlord_basic_info .pics_butt
{
    width: 30%;
    padding: 10px 0;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    background: linear-gradient(to right,  #ffaa00, #ffae33);
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: .5s;
}

.landlord_basic_info .pics_butt:hover
{
    box-shadow: 2px 2px 20px 2px #111;
    transition: .5s;
}

.landlord_basic_info .form-control
{
    height: 40px;
    width: 100%;
    border: 2px solid #ffaa00;
    border-radius: 20px 20px;
    margin: 0 auto;
    outline-color: none;
    outline-width: 0;
}

.landlord_basic_info .update_button
{
    border: 2px solid #ffaa00;
    height: auto;
    width: auto;
    border-radius: 10px 10px;
    color: #ffaa00;
    font-weight: 600;
    margin: 0 0 10px 0;
    padding: 5px 7px !important;
}


#fname_update, #lname_update, #email_update, #tel_update, #passwd_update
{
    display: none;
}

#addr1_update, #addr2_update, #parish_update, #room_update, #avail_update, #listing_update, #distance_update, #coord_update
{
    display: none;
}




/* **************************** Foooter ********************************** */
#footer
{
    bottom: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 50, 1);
    padding: 25px 5px;
}

#footer .footer_column
{


}

#footer p
{
    font-size: 23px;
    font-family: Montserrat, monospace;
    font-weight: 500px;
    color: #ffaa00;
    margin-bottom: 5px;
}

#footer ul
{
    list-style-type: none;
    padding: 0;
}

#footer li
{
    color: rgba(255, 170, 0, 0.8);
    list-style-type: none;
    font-size: 15px;
    font-family: Quicksand, sans-serif;
    transition: .5s;
}

#footer li:hover
{
    border-bottom: 2px solid #ffaa00;
    transition: .5s;
    cursor: pointer;
}

#footer form
{
    width: 100%;
}

#footer .form-group
{
    width: 65% !important;
    height: auto;
    outline: 0;
    outline-color: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid #ffaa00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footer .form-control
{
    border: none;
    outline: 0;
    outline-color: 0;
    background-color: transparent;
    color: #fff;
}


#footer ::placeholder
{
    color: #ffaa00;
}

#footer .text-area
{
    width: 80% !important;
    height: auto;
    border-left: 2px solid #ffaa00 !important;
    border-right: 2px solid #ffaa00 !important;
    border-top: 2px solid #ffaa00 !important;
    border-bottom: 2px solid #ffaa00 !important;
    border-radius: 20px;
}

#footer #contact_but
{
    background-color: #ffaa00;
    outline: 0;
    outline-color: none;
    border: 1px solid #febb11;
    border-radius: 30px;
    color: #fff;
    margin: 0 0 0 190px;
    width: auto;
    height: auto;
    padding: 5px 10px;
}


/* ******************************************************************* */



/* **************************** Copy right ********************************** */

#copy
{
    bottom: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(250, 170, 0, 0.9);
    padding: 5px 0 5px 30px;
}

#copy p
{
    margin: 0;
    color: rgba(0, 0, 50, 1);
    font-family: Quicksand,fantasy;
}

/* ******************************************************************* */
