*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .3s;
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow:auto;
    text-rendering: optimizeLegibility;
    transition: .7s;
}


/*********************************************************** Landing Page *********************************************************************** */


/* ******************* Header ************************ */

header
{
    width: 100%;
    height: 100%;
}


header #bg-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
}


header #bg-overlay #logo-signin
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 0;
	margin: 0 40px;
}


header #logo
 {
    color: #fff;
    font-weight: 600;
    font-size: 2em;
    font-family: 'Exo', sans-serif;
	cursor: pointer;
	padding: 0;
	margin: 0;
 }


 header #user_info_button
 {
	cursor: pointer;
	padding: 0;
	margin: 0;
 }


 header #user_info_button button
 {
	outline: none;
	outline-color: none;
	border: none;
	border-color: none;
	background-color: transparent;
 }


 header #user_info_button button .fa-user
 {
	color: #fff;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
 }

header #theme
{
	position: absolute;
    top: 40%;
    letter-spacing: 0.1em;
	right: 0;
	left: 0;
    color: #fff;
	width: auto;
	height: auto;
	margin: auto;
	line-height: 100%;
}

header #theme p:nth-child(2)
{
    font-size: 4.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}


header #theme p
{
    font-size: 1.8em;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: Capitalize;
    color: #fff;
}


header #bg-overlay #go-down
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    -webkit-animation-name: bounce-down;
    animation-name: bounce-down;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

header #bg-overlay #go-down .fa-angle-down
{
    color: #fff;
    font-size: 60px;
    cursor: pointer;
}

@keyframes bounce-down
{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

-webkit-@keyframes bounce-down
{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}


#campus-bg-vid
{
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
	display: block;
    z-index: 1;
}

#campus-bg-pic
{
	position: fixed;
    left: 0;
    bottom: 0;
	display: none;
	min-width: 100%;
	min-height: 100%;
	background-image: url("https://www.telegraph.co.uk/content/dam/education/SPARK/john-lewis/student-house.jpg");
	/*background-image: url("https://www.universiteitleiden.nl/binaries/content/gallery/student-recruitment-sites/scm/international-students/fotogalerij/housing/op-kamer-den-haag-2.jpg");*/
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
    z-index: 1;
}











/* ********************************************************************************************************************************************* */



/* ************************ Main ****************************** */

#complex-container
{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #fff;
}


/* ************** Navigation ************** */

nav
{

    width: 100%;
    height: auto;
    margin: 40px 0;
}


.search .form-control
{
    height: 40px;
    border: 2px solid grey;
    border-radius: 20px 20px;
    margin: 0 auto;
    outline-color: none;
    outline-width: 0;
}

.search .input-group
{
    width: 370px;
    -webkit-transition: width 0.7s;
    transition: width 0.7s;
}


.search .input-group:focus-within
{
    width: 500px;
    outline-color: none;
    outline-width: 0;
    -webkit-transition: width 0.7s;
    transition: width 0.7s;
}


.search .form-control:placeholder-shown
{
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'fredoka one' sans-serif;
}


.nav_btn
{
    height: 40px;
    border-radius: 20px 20px;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 2px solid grey;
    background-color: #f1aa00;
    color: #fff;
}

.nav_btn:hover
{
    background-color: #fff;
    color: #ffaa00;
}


/* ********************************************************************************* */


/* ************************* Filtering ********************* */


#menu
{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

#menu_button
{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 8%;
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
    color: #ffaa00;
    margin-left: 20px;
    background-color: transparent;
    text-align: center;
    padding: auto;
    border-radius: 50%;
    border: 1px solid #ffaa00;
    outline: 0;
    cursor: pointer;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


#menu_button:hover
{
    width: 60px;
    height: 60px;
    font-size: 35px;
    border: 2px solid #ffaa00;
    -webkit-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    opacity: 0.8;
    transform: rotate(180deg);
}

/* Off Canvas Menu */
#menu_filter
{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    overflow-y: scroll;
    background-color:  rgba(0, 0, 0, 0.9);
    transition: 0.4s;
    transition-timing-function: linear;
}


#menu_filter:hover
{
    -webkit-box-shadow: 2px 4px 20px 4px gray;
    box-shadow: 2px 4px 20px 4px gray;
}

/* Position and style the close button (top right corner) */
#menu_filter .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    z-index: 1;
    color: #ffaa00;
    text-decoration: none;
}


#menu_filter .custom-control-label
{
    color: #ffaa00;
    margin: 3px 0;
}

#menu_filter: .slidecontainer
{
    color: #ffaa00;
}



.slider
{
    border: 2px solid gray;
    border-radius: 10px 10px;
    background-color: gray;

}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffaa00;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

/* ********************************************************* */



/* ***************** Form *********************** */

#form-container
{
    position: absolute;
    z-index: 200;
    height: 400px;
    width: 380px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 5px;
    overflow:hidden;
    border-radius: 30px;
    transition: .8s;
    transition-timing-function: ease-in-out;
}

#form-container .button-box
{
    width: 225px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

#form-container .toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#form-container #btn
{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    color: #ffaa00;
    /*background-image: linear-gradient(to right, #ff105f, #ffad06);*/
    background-image: linear-gradient(to right,  #ffaa00, #feae63);
    border-radius: 30px;
    transition: 0.5s;
}

#form-container .input-group
{
    top: 100px;
    position: absolute;
    width: 300px;
    transition: .5s
}

#form-container .form-group
{
    width: 100%;
    margin: 0 auto;
}


#form-container .form-control
{
    width: 100%;
    padding: 10px 0;
    margin: 0;
    background-color: transparent;
    outline: 0;
    outline-color: transparent;
    border-radius: 30px;
    border: 2px solid #ffaa00 !important;
}

#form-container input[type="text"]:placeholder-shown,
#form-container input[type="email"]:placeholder-shown,
#form-container input[type="tel"]:placeholder-shown,
#form-container input[type="password"]:placeholder-shown
{
    color: #ffaa00  !important;
    padding: 0 20px;
}

#form-container .submit_button
{
    width: 45%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: linear-gradient(to right,  #ffaa00, #ffae33);
    border: 0;
    outline: none;
    border-radius: 30px;
}


#form-container #login
{
    left: 30px;
}


#form-container #register
{
    left: 450px;
}

#form-container label
{
    color: #ffaa00;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


/* ********************************************************* */


/* ************************* Apartments Info ************************ */

#apartment_display
{
    position: relative;
    margin: 10px 30px;
    height: 100%;
    width: 100%;
}

.apartmentss
{
    height: 350px;
    width: 456px;
    margin: 20px 0;
    border-radius: 20px 20px;
    transition-duration: 0.3s;
}

.apartmentss:hover
{
    cursor: pointer;
    box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
}

.Apartment_links:hover
{
    text-decoration: none !important;
}

.apartments_pic
{
    height: 278px;
    width: 456px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
    background-origin: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.apartments_pic1
{
    background-image: url("/off_campus_project/photo_uploads/apart2.jpg");
}

.apartments_pic2
{
    background-image: url("/off_campus_project/photo_uploads/apart3.jpg");
}

.apartments_pic3
{
    background-image: url("/off_campus_project/photo_uploads/apart4.jpg");
}



.apartmentss_info
{
    background-color: #ffaa00;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom:0;
    line-height: 2px;
}


.apartments_addr
{
    height: auto;
    width: inherit;
    color: #fff;
    padding: 15px 10px 0;
    font-weight: bold;
}

.apartments_xinfo ul
{
    height: 40px;
    width: inherit;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #fff;
    list-style-type: none;
}

.apartments_xinfo ul li
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 25px;
}


/* ******************************************************************* */



/* **************************** Foooter ********************************** */
#footer
{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 50, 1);
    padding: 25px 5px;
    z-index: 1;
}

#footer .footer_column
{


}

#footer p
{
    font-size: 23px;
    font-family: Montserrat, monospace;
    font-weight: 500px;
    color: #ffaa00;
    margin-bottom: 5px;
}

#footer ul
{
    list-style-type: none;
}

#footer li
{
    color: rgba(255, 170, 0, 0.8);
    list-style-type: none;
    font-size: 15px;
    font-family: Quicksand, sans-serif;
    transition: .5s;
}

#footer li:hover
{
    border-bottom: 2px solid #ffaa00;
    transition: .5s;
    cursor: pointer;
}

#footer form
{
    width: 100%;
}

#footer .form-group
{
    width: 65% !important;
    height: auto;
    outline: 0;
    outline-color: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid #ffaa00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footer .form-control
{
    border: none;
    outline: 0;
    outline-color: 0;
    background-color: transparent;
    color: #fff;
}


#footer ::placeholder
{
    color: #ffaa00;
}

#footer .text-area
{
    width: 80% !important;
    height: auto;
    border-left: 2px solid #ffaa00 !important;
    border-right: 2px solid #ffaa00 !important;
    border-top: 2px solid #ffaa00 !important;
    border-bottom: 2px solid #ffaa00 !important;
    border-radius: 20px;
}

#footer #contact_but
{
    background-color: #ffaa00;
    outline: 0;
    outline-color: none;
    border: 1px solid #febb11;
    border-radius: 30px;
    color: #fff;
    margin: 0 0 0 190px;
    width: auto;
    height: auto;
    padding: 5px 10px;
}


/* ******************************************************************* */



/* **************************** Copy right ********************************** */

#copy
{
    position:absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(250, 170, 0, 0.9);
    padding: 5px 0 5px 30px;
    z-index: 1;
}

#copy p
{
    margin: 0;
    color: rgba(0, 0, 50, 1);
    font-family: Quicksand,fantasy;
}

/* ******************************************************************* */



/* ********************************************************************************* */




/* For medium devices */

@media screen and (min-width: 601px) and (max-width: 1200px)
{
    header #theme p:nth-child(2)
    {
        font-size: 3em;
        line-height: 90%;
    }

    header #theme p
    {
        font-size: 1.3em;
        line-height: 10%
    }

}






/* For smaller devices */

@media screen and (min-width: 300px) and (max-width: 600px)
{
	#campus-bg-vid
	{
		display: none;
	}

	#campus-bg-pic
	{
		display: block;
	}

    header #theme p:nth-child(2)
    {
        font-size: 2em;
        line-height: 90%;
    }


    header #theme p
    {
        font-size: 1.3em;
        line-height: 10%
    }


}
