*
{
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
}

html, body
{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow:auto;
}


.links
{
    text-decoration: none !important;
}

/* */
header
{
    padding: 0;
    width: 100%;
    height: auto;
    margin:15px 0 80px 0;
}


header h2
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #f1aa00;
}

header .logout
{
    text-decoration: none;
    text-decoration-color: none;
    color: #ffaa00;
}

header #logout_but .fa-sign-out-alt
{
    color: #ffaa00;
    font-size: 30px;
}



/* */

#greet-section
{
    width: 100%;
    height: auto;
}

#greet-section #greetings
{
    text-align: left;
    padding: 0 20px;
    color: #ffaa00;
    font-size: 30px;
    text-transform: capitalize;
}


#greet-section #greet-name
{
    text-align: left;
    color: #ffaa00;
    font-size: 25px;
    text-transform: capitalize;
}

/* */

#settings-section
{
    width: 100%;
    height: auto;
    padding: 20px 20px;
}

#settings-section .profile-config
{
    width: 500px;
    height: auto;
    padding: 10px 0;
    margin-bottom: 40px;
    color: #ffaa00;
    font-weight: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    border-radius: 20px 20px;
    border: 1px solid #ffaa00;
    cursor: pointer;
    transition: .5s;

}

#settings-section .profile-config:hover
{
    background-color: #ffaa00;
    color: #fff;
    box-shadow: 4px 4px 10px 3px #d2d2d2;
    transition: .5s;
}

#settings-section .profile-config p
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding-top: 10px;
}

/* */



/* **************************** Foooter ********************************** */
#footer
{
    bottom: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 50, 1);
    padding: 25px 5px;
}

#footer .footer_column
{


}

#footer p
{
    font-size: 23px;
    font-family: Montserrat, monospace;
    font-weight: 500px;
    color: #ffaa00;
    margin-bottom: 5px;
}

#footer ul
{
    list-style-type: none;
    padding: 0;
}

#footer li
{
    color: rgba(255, 170, 0, 0.8);
    list-style-type: none;
    font-size: 15px;
    font-family: Quicksand, sans-serif;
    transition: .5s;
}

#footer li:hover
{
    border-bottom: 2px solid #ffaa00;
    transition: .5s;
    cursor: pointer;
}

#footer form
{
    width: 100%;
}

#footer .form-group
{
    width: 65% !important;
    height: auto;
    outline: 0;
    outline-color: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid #ffaa00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footer .form-control
{
    border: none;
    outline: 0;
    outline-color: 0;
    background-color: transparent;
    color: #fff;
}


#footer ::placeholder
{
    color: #ffaa00;
}

#footer .text-area
{
    width: 80% !important;
    height: auto;
    border-left: 2px solid #ffaa00 !important;
    border-right: 2px solid #ffaa00 !important;
    border-top: 2px solid #ffaa00 !important;
    border-bottom: 2px solid #ffaa00 !important;
    border-radius: 20px;
}

#footer #contact_but
{
    background-color: #ffaa00;
    outline: 0;
    outline-color: none;
    border: 1px solid #febb11;
    border-radius: 30px;
    color: #fff;
    margin: 0 0 0 190px;
    width: auto;
    height: auto;
    padding: 5px 10px;
}


/* ******************************************************************* */



/* **************************** Copy right ********************************** */

#copy
{
    bottom: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(250, 170, 0, 0.9);
    padding: 5px 0 5px 30px;
}

#copy p
{
    margin: 0;
    color: rgba(0, 0, 50, 1);
    font-family: Quicksand,sans-serif;
    font-size: 13px;
}


/* */

/* */




/* */

/* */



/* */

/* */
