*
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .3s;
}

html, body
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    /*background-color: #fff; */
    overflow:auto;
     text-rendering: optimizeLegibility;
    transition: .7s;
}

/* ******************* Header ************************ */
header
{
    padding: 0;
    width: 100%;
    height: auto;
    margin:15px 0 30px 0;
}

header h2
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffaa00;
}

#logo p
{
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffaa00;
    font-weight: 600;
    font-size: 30px;
}


.add_house_button
{
    width: 25px;
    height: 40px;;
    font-size: 20px;
    margin: 0 15px 0 0;
    text-align: center;
    padding: 0px 0px;
    border: 2px solid #ffaa00;
    border-radius: 10px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.fa-user
{
    color: #ffaa00;
    font-size: 15px;
}

.add_house_button:hover
{
    border: 2px solid #fff;
    background-color: #ffaa00;
    -webkit-box-shadow: 2px 2px 10px 2px gray;
    box-shadow: 2px 2px 10px 2px gray;
}


.fa-user:hover
{
    color: #fff;
}

.fa-sign-in-alt
{
    color: #ffaa00;
    font-size: 15px;
}

.fa-sign-in-alt:hover
{
    color: #fff;
}


nav
{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}


.search .form-control
{
    height: 40px;
    border: 2px solid grey;
    border-radius: 20px 20px;
    margin: 0 auto;
    outline-color: none;
    outline-width: 0;
}

.search .input-group
{
    width: 370px;
    -webkit-transition: width 0.7s;
    transition: width 0.7s;
}


.search .input-group:focus-within
{
    width: 500px;
    outline-color: none;
    outline-width: 0;
    -webkit-transition: width 0.7s;
    transition: width 0.7s;
}


.search .form-control:placeholder-shown
{
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'fredoka one' sans-serif;
}


.nav_btn
{
    height: 40px;
    border-radius: 20px 20px;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 2px solid grey;
    background-color: #f1aa00;
    color: #fff;
}

.nav_btn:hover
{
    background-color: #fff;
    color: #ffaa00;
}


/* ********************************************************* */



/* ************************* Filtering ********************* */


#menu
{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

#menu_button
{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 105px;
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
    color: #ffaa00;
    margin-left: 20px;
    background-color: transparent;
    text-align: center;
    padding: auto;
    border-radius: 50%;
    border: 1px solid #ffaa00;
    outline: 0;
    cursor: pointer;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


#menu_button:hover
{
    width: 60px;
    height: 60px;
    font-size: 35px;
    border: 2px solid #ffaa00;
    -webkit-box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    opacity: 0.8;
    transform: rotate(180deg);
}

/* Off Canvas Menu */
#menu_filter
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 20px 0;
    background-color:  rgba(0, 0, 0, 0.9);
    transition: 0.7s;
}


#menu_filter:hover
{
    -webkit-box-shadow: 2px 4px 20px 4px gray;
    box-shadow: 2px 4px 20px 4px gray;
}

/* Position and style the close button (top right corner) */
#menu_filter .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  z-index: 1;
  margin-left: 50px;
  color: #ffaa00;
  text-decoration: none;
}


#menu_filter .custom-control-label
{
    color: #ffaa00;
    margin: 3px 0;
}

#menu_filter: .slidecontainer
{
    color: #ffaa00;
}



.slider
{
    border: 2px solid gray;
    border-radius: 10px 10px;
    background-color: gray;

}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffaa00;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

/* ********************************************************* */

/* ***************** Form *********************** */

#form-container
{
    position: absolute;
    z-index: 200;
    height: 400px;
    width: 380px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 5px;
    overflow:hidden;
    border-radius: 30px;
    transition: .8s;
    transition-timing-function: ease-in-out;
}

#form-container .button-box
{
    width: 225px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

#form-container .toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#form-container #btn
{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    color: #ffaa00;
    /*background-image: linear-gradient(to right, #ff105f, #ffad06);*/
    background-image: linear-gradient(to right,  #ffaa00, #feae63);
    border-radius: 30px;
    transition: 0.5s;
}

#form-container .input-group
{
    top: 100px;
    position: absolute;
    width: 300px;
    transition: .5s
}

#form-container .form-group
{
    width: 100%;
    margin: 0 auto;
}


#form-container .form-control
{
    width: 100%;
    padding: 10px 0;
    margin: 0;
    background-color: transparent;
    outline: 0;
    outline-color: transparent;
    border-radius: 30px;
    border: 2px solid #ffaa00 !important;
}

#form-container input[type="text"]:placeholder-shown,
#form-container input[type="email"]:placeholder-shown,
#form-container input[type="tel"]:placeholder-shown,
#form-container input[type="password"]:placeholder-shown
{
    color: #ffaa00  !important;
    padding: 0 20px;
}

#form-container .submit_button
{
    width: 45%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: linear-gradient(to right,  #ffaa00, #ffae33);
    border: 0;
    outline: none;
    border-radius: 30px;
}


#form-container #login
{
    left: 30px;
}


#form-container #register
{
    left: 450px;
}

#form-container label
{
    color: #ffaa00;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


/* ********************************************************* */

.form-modal .modal-header
{
    background-color: #ffaa00 !important;
    color: #fff;
}

.form-modal span
{
    color: #fff;
}

.form-modal label
{
    color: #ffaa00;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.form-modal input[type="text"],
.form-modal input[type="email"],
.form-modal input[type="tel"],
.form-modal input[type="password"]
{
    width: 100%;
    border: 2px solid #ffaa00 !important;
}

.form-modal input[type="text"]:placeholder-shown,
.form-modal input[type="email"]:placeholder-shown,
.form-modal input[type="tel"]:placeholder-shown,
.form-modal input[type="password"]:placeholder-shown
{
    color: #ffaa00  !important;
}

.form-modal .custom-select
{
    border: 2px solid #ffaa00 !important;
    border-radius: 20px 20px;
}

 .slider-label
 {
    color: #ffaa00  !important;
 }

.form-modal .user_info_sumbit_btn
{
    border: 2px solid #ffaa00 !impotant;
    border-radius: 10px 10px !important;
}


/* ************************* Apartments Info ************************ */

#apartment_display
{
    margin: 10px 30px;
    height: 100%;
    width: auto;
}

.apartmentss
{
    height: 350px;
    width: 456px;
    margin: 20px 0;
    border-radius: 20px 20px;
    transition-duration: 0.3s;
}

.apartmentss:hover
{
    cursor: pointer;
    box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
}

.Apartment_links:hover
{
    text-decoration: none !important;
}

.apartments_pic
{
    height: 278px;
    width: 456px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
    background-origin: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.apartments_pic1
{
    background-image: url("/off_campus_project/photo_uploads/apart2.jpg");
}

.apartments_pic2
{
    background-image: url("/off_campus_project/photo_uploads/apart3.jpg");
}

.apartments_pic3
{
    background-image: url("/off_campus_project/photo_uploads/apart4.jpg");
}



.apartmentss_info
{
    background-color: #ffaa00;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom:0;
    line-height: 2px;
}


.apartments_addr
{
    height: auto;
    width: inherit;
    color: #fff;
    padding: 15px 10px 0;
    font-weight: bold;
}

.apartments_xinfo ul
{
    height: 40px;
    width: inherit;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #fff;
    list-style-type: none;
}

.apartments_xinfo ul li
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 25px;
}


/* ******************************************************************* */



/* **************************** Foooter ********************************** */
#footer
{
    bottom: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 50, 1);
    padding: 25px 5px;
}

#footer .footer_column
{


}

#footer p
{
    font-size: 23px;
    font-family: Montserrat, monospace;
    font-weight: 500px;
    color: #ffaa00;
    margin-bottom: 5px;
}

#footer ul
{
    list-style-type: none;
}

#footer li
{
    color: rgba(255, 170, 0, 0.8);
    list-style-type: none;
    font-size: 15px;
    font-family: Quicksand, sans-serif;
    transition: .5s;
}

#footer li:hover
{
    border-bottom: 2px solid #ffaa00;
    transition: .5s;
    cursor: pointer;
}

#footer form
{
    width: 100%;
}

#footer .form-group
{
    width: 65% !important;
    height: auto;
    outline: 0;
    outline-color: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid #ffaa00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footer .form-control
{
    border: none;
    outline: 0;
    outline-color: 0;
    background-color: transparent;
    color: #fff;
}


#footer ::placeholder
{
    color: #ffaa00;
}

#footer .text-area
{
    width: 80% !important;
    height: auto;
    border-left: 2px solid #ffaa00 !important;
    border-right: 2px solid #ffaa00 !important;
    border-top: 2px solid #ffaa00 !important;
    border-bottom: 2px solid #ffaa00 !important;
    border-radius: 20px;
}

#footer #contact_but
{
    background-color: #ffaa00;
    outline: 0;
    outline-color: none;
    border: 1px solid #febb11;
    border-radius: 30px;
    color: #fff;
    margin: 0 0 0 190px;
    width: auto;
    height: auto;
    padding: 5px 10px;
}


/* ******************************************************************* */



/* **************************** Copy right ********************************** */

#copy
{
    bottom: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(250, 170, 0, 0.9);
    padding: 5px 0 5px 30px;
}

#copy p
{
    margin: 0;
    color: rgba(0, 0, 50, 1);
    font-family: Quicksand,fantasy;
}

/* ******************************************************************* */
